* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* #363532, rgb(88, 111, 112) */
    color: #ffdfdb;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 70px;
}

/* Class names to use light or dark themes */
.standard {
    background-image: linear-gradient(100deg, #575656, #062e3f);
}

.light {
    background-image: linear-gradient(100deg, #F2E5CB, #72ADEB);
    color: #362D1D;
}

.darker {
    background-image: linear-gradient(100deg, #020040, #000);
    color: #7CDEF5;
}

#header, #form, #datetime {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#header {
    min-height: 25vh;
    font-size: 3rem;
}

/* Theme buttons */
.flexrow-container {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.flexrow-container > p {
    font-size: 1.1rem;
}

.theme-selector {
    border: 2px solid #F2E5CB;
    border-radius: 100%;
    height: 35px;
    margin: 0 10px;
    transition: tranform 0.15s ease-in-out;
    width: 35px;
}

.theme-selector:hover {
    cursor: pointer;
}

.theme-selector:active {
    transform: scale(0.95);
}

.standard-theme {
    background-image: linear-gradient(100deg, #575656, #062e3f);
}

.light-theme {
    background-image: linear-gradient(100deg, #F2E5CB, #72ADEB);
}

.darker-theme {
    background-image: linear-gradient(100deg, #000011, #000);
}

/* Animation */
#title {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: pre;
    overflow: hidden;     
    letter-spacing: 0.20rem;
  }
  
  /* Animation */
#title {
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both,
        animated-cursor 750ms steps(11,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0%;}
    to{width: 480px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }


form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.8rem;
    font-size: 1.7rem;
}

form input {
    padding: 10px;
    font-size: 17px;
    color: rgb(247, 226, 223);
    border: none;
    outline: none;
    background-color: #181a1a;
    /* border-radius: 15; */
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    margin: 0px auto; /* Gives that scrolling effect as the typing happens */
}

form input.light-input {
    background-color: #062e3f;
}

form input.darker-input {
    background-color: #2B0813;
}

form input:hover {
    color: rgb(247, 226, 223);
    background-color: rgb(0, 0, 0);
    cursor: text;
    transition: 0.2s;
    /* transition-delay: .1ms; */
}

form button {
    padding: 10px;
    font-size: 17px;
    /* font-weight: 500; */
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(247, 226, 223);
    /* border-radius: 100; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* form button:hover {
    color: rgb(247, 226, 223);
    background-color:  #313131;
    cursor: pointer;
    transition: 0.2s;
    /* transition-delay: .1ms;
}  */

#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 25%;

    /* To remove the bullets of unordered list */
    list-style: none;
}

.todo {
    margin: 0.4rem;
    background-color: rgb(26, 27, 27);
    /* background: rgb(247, 226, 223); */
    /* color: black; */
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
}

.todo.light-todo {
    background-color: #062e3f;
}

.todo.darker-todo {
    background-color: #2B0813;
}

.todo li{
    padding: 7px;
    /* word-wrap: break-word; */
    /* flex-wrap: wrap; */
    font-size: 20px;
    flex: 1; /* To push the trash and the check button to the right */
    border-radius: 30px;

    /* wraps the links */
    overflow-wrap: anywhere;
}

/* .todo li:hover {
    opacity: 0.9;
    cursor: ;
} */

button{
    border: none;
    outline: none; 
    transition: all 200ms ease;
}

button:hover{
    cursor: pointer;
}

.check-btn, .delete-btn {
    background-color: rgb(247, 226, 223);
    font-size: 19px;
    cursor: pointer;
    /* background: rgb(245, 214, 209); */
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* border-radius: 40px; */
}

.todo-btn:hover,.check-btn:hover, .delete-btn:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

/* .check-btn:hover, .delete-btn:hover{
    color: rgb(247, 226, 223);
    background-color:  #313131;
    border: none;
    padding: 0.40rem;
    transition: 0.25s;
} */

.todo-item {
    padding: 0rem 0.5rem;
    /* border-radius: 40px;  */
}

.fa-trash, .fa-check { 
    pointer-events: none;
}


.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    /* transition */
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}