* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(100deg, #575656, #062e3f);
    /* #363532, rgb(88, 111, 112) */
    color: #ffdfdb;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    margin-top: 70px;
}

#header, #form, #datetime {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#header {
    min-height: 25vh;
    font-size: 3rem;
}


/* Animation */
#title {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    white-space: pre;
    overflow: hidden;     
    letter-spacing: 0.20rem;
  }
  
  /* Animation */
#title {
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both,
        animated-cursor 750ms steps(11,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0%;}
    to{width: 480px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }


form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.8rem;
    font-size: 1.7rem;
}

form input {
    padding: 10px;
    font-size: 17px;
    color: rgb(247, 226, 223);
    border: none;
    outline: none;
    background-color: #181a1a;
    /* border-radius: 15; */
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    margin: 0px auto; /* Gives that scrolling effect as the typing happens */
}

form input:hover {
    color: rgb(247, 226, 223);
    background-color: rgb(0, 0, 0);
    cursor: text;
    transition: 0.2s;
    /* transition-delay: .1ms; */
}

form button {
    padding: 10px;
    font-size: 17px;
    /* font-weight: 500; */
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(247, 226, 223);
    /* border-radius: 100; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* form button:hover {
    color: rgb(247, 226, 223);
    background-color:  #313131;
    cursor: pointer;
    transition: 0.2s;
    /* transition-delay: .1ms;
}  */

#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 25%;

    /* To remove the bullets of unordered list */
    list-style: none;
}

.todo {
    margin: 0.4rem;
    background-color: rgb(26, 27, 27);
    /* background: rgb(247, 226, 223); */
    /* color: black; */
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: all 0.5s ease;
}

.todo li{
    padding: 7px;
    /* word-wrap: break-word; */
    /* flex-wrap: wrap; */
    font-size: 20px;
    flex: 1; /* To push the trash and the check button to the right */
    border-radius: 30px;

    /* wraps the links */
    overflow-wrap: anywhere;
}

/* .todo li:hover {
    opacity: 0.9;
    cursor: ;
} */

button{
    border: none;
    outline: none;
    background-color: rgb(247, 226, 223);
    transition: 200ms ease all;
}

button:hover{
    background-color: white;
    box-shadow: #fff8 0 0 10px;
    cursor: pointer;
}

.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    /* background: rgb(245, 214, 209); */
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* border-radius: 40px; */
}

/* .check-btn:hover, .delete-btn:hover{
    color: rgb(247, 226, 223);
    background-color:  #313131;
    border: none;
    padding: 0.40rem;
    transition: 0.25s;
} */

.todo-item {
    padding: 0rem 0.5rem;
    /* border-radius: 40px;  */
}

.fa-trash, .fa-check { 
    pointer-events: none;
}


.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    /* transition */
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}